.App {
  height: 100%;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 5%;
  padding: 0 2rem;
  background-color: #222;
  color: white;
}

.content {
  position: relative;
  height: 95%;
  width: 50%;
  margin: auto;
}

ul {
  padding: 0;
}
